.contLoading
{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100000;
    background-color: #fff;
}
.contLoading .content
{
	position: absolute;
	top: 50%;
	left: 50%;
}
.formulario
{
	margin-top: 1em;
}
.margin-bottom
{
	margin-bottom: 1em !important;
}
.no-padding
{
	padding: 0;
}
body:not(.home)
{
	padding-top: 125px;
	-webkit-transition: padding-top .25s linear;
	   -moz-transition: padding-top .25s linear;
	    -ms-transition: padding-top .25s linear;
	     -o-transition: padding-top .25s linear;
	        transition: padding-top .25s linear;
}
body.scrolled
{
	padding-top: 0;
}
.header, .navigation
{
	position: fixed;
	top: 0;
}
.header.home
{
	background-color: rgba(0,0,0,0.5);
}
.header:not(.home)
{
	background-color: #333;
}
.header
{
	z-index: 1000;
	width: 100%;
	left: 0;
	height: 120px;
 	-webkit-transition: all .25s linear;
	   -moz-transition: all .25s linear;
	    -ms-transition: all .25s linear;
	     -o-transition: all .25s linear;
	        transition: all .25s linear;
}
@media(min-width: 991px)
{
	.header.scrolled
	{
		background-color: rgba(0,0,0,0.5);
	}
	.header.scrolled, .header.scrolled > div
	{
		height: 60px;

	}
	.header.scrolled img.logo
	{
		max-width: 125px;
		padding: 0;
	}
	.header.scrolled button.lines-button.arrow
	{
		padding: 0 1em 1em;
	}
	.header.scrolled .lines, .header.scrolled .lines:before, .header.scrolled .lines:after
	{
		background-color: #fff; 
	}
 }
{
	background-color: #333;
}
.navigation
{
    background-color: #C7BA31;
    z-index: 99;
    width: 30%;
    right: -30%;
    height: 100vh;
    -webkit-transition: all .25s linear;
       -moz-transition: all .25s linear;
        -ms-transition: all .25s linear;
         -o-transition: all .25s linear;
            transition: all .25s linear;
}
.navigation.active
{
	right: 0;
}
.navigation .pull
{
	display: block;
	background-color: transparent;
	margin-top: 50%;
    box-shadow: none;
	border-top: 1px solid #ddd;
	padding-top: 0;
	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	     -o-transform: translateY(-50%);
	        transform: translateY(-50%);
}
.navigation .pull li
{
	width: 100%;
	border-bottom: 1px solid #ddd;
}
.navigation nav ul li a
{
	color: #fff;
}
.slider ul.callbacks_tabs.callbacks1_tabs
{
	z-index: 96;
	bottom: 30%;
}
.overly
{
	display: none;
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.6);
	z-index: 98;
	cursor: pointer;
}
.banner-bottom-top .header-bottom
{
	z-index: 97;
    background-color: rgba(0,0,0,0.5);
    padding: 1em; 
    bottom: 0;
    top: initial;
}
.browser-default.filter-input, select.browser-default.filter-input
{
	border: 1px solid #fff;
	color: #fff;
	background-color: transparent;
	height: 3rem;
	border-radius: 0;
	padding-left: .5em;
}
.banner-bottom-top .header-bottom .input-field .prefix.postfix.fa-handshake-o
{
	right: 15px;
}
.banner-bottom-top .header-bottom .input-field .prefix.postfix
{
    right: 0;
    top: 8px;
    color: #fff;
    cursor: pointer;
}
.banner-bottom-top .header-bottom .input-field .prefix.postfix.active
{
	color: #ddd;
}
.input-field .prefix.postfix ~ input, .input-field .prefix.postfix ~ select
{
	margin-left: 0;
	width: 100%;
}
.banner-bottom-top .header-bottom .input-field input[type=number]::-webkit-inner-spin-button,
.banner-bottom-top .header-bottom .input-field input[type=number]::-webkit-outer-spin-button,
.filter-container .input-field input[type=number]::-webkit-inner-spin-button, 
.filter-container .input-field input[type=number]::-webkit-outer-spin-button{ 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.banner-bottom-top .header-bottom .input-field select {
    /*for firefox*/
    -moz-appearance: none;
    /*for chrome*/
    -webkit-appearance:none;
}
select.browser-default.filter-input option
{
	background-color: #333;
}
.wrapper
{
	width: 98%;
    margin: 0 auto;
    display: block;
    max-width: 1440px;
}
button.lines-button.arrow
{
	background-color: transparent;
	border: 0px;
	border-radius: 50%;
}

.slider
{
	height: 100vh;
}
#slider li
{
	height: 100vh;
	overflow: hidden;
}
#slider li img.full-size
{
	position: absolute;
	top: 0;
	left: 0;
	max-height: 100vh;
	width: 100%;
}
.banner-bottom-top
{
	position: relative;
	min-height: 0;
}
.banner-bottom-top .bottom-header
{
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 97;
    left: 0;
}
.banner-bottom-top .bottom-header .noUi-connect
{
	background-color: #C7BA31;
}
.banner-bottom-top .bottom-header .noUi-handle
{
	border-radius: 50%;
}
a.mask
{
	position: relative;
	height: 250px;
}
.relative
{
	position: relative;
}
.relative > .misc
{
    position: absolute;
    bottom: -20px;
    width: 100%;
    text-align: center;
}
.relative > .misc .fa-container
{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 2px solid #fff;
    text-align: center;
}
.relative > .misc .fa-container.icon-blue
{
    background: #10b5fb;
}
.relative > .misc .fa-container.icon-green
{
	background-color: #21e790;
}
.relative > .misc .fa-container.icon-yellow
{
	background-color: #fbb810;
}
.relative > .misc .fa-container.icon-black
{
	background-color: #333;
}
.relative > .misc .fa-container .fa
{
	font-size: 1.5em;
    color: #fff;
    line-height: 1.8em;
    cursor: pointer;
}
.populars a.mask > img
{
	height: auto;
}
a.mask > img
{
	height: 250px;
	width: auto;
	margin: 0 auto;
	position: absolute;
}
.popular-description
{
	height: 150px;
}
.title-card
{
	height: 75px;
}

.popover h3.popover-title
{
	font-size: 1em;
	background-color: #333;
	color: #fff;
	margin: 0;
}
.popover h3.popover-title:after, .popover h3.popover-title:before
{
	background-color: transparent;
}
.popover .popover-content
{
	text-align: center;
}
.range-text {
    display: inline;
    color: #fff;
    font-weight: bold;
}
.btn-search-filter
{
	background-color: #C7BA31;
}
.btn-search-filter:hover, .btn-search-filter:focus
{
	background-color: #333;
    color: #fff;
}
.item-description
{
	padding-top: 3em;
}
@media(min-width: 991px){
	.item-description
	{
		height: 250px;
	}	
}
.item-description a.more
{
	color: #333;
	border: 1px solid #333;
	overflow: hidden;
}
.item-description .hvr-sweep-to-right:hover, .item-description .hvr-sweep-to-right:focus, .item-description .hvr-sweep-to-right:active
{
	color: #C7BA31;
	border: 1px solid #C7BA31;
}
.hvr-sweep-to-right:before
{
	background-color: #333;
}
.fav-container
{
	padding-left: 0;
	text-align: center;
}
.fav-container .fa
{
	cursor: pointer;
}
.miniLoader
{
	display: none;
}
.miniLoader.active
{
	display: inline-block;
}
.preloader-wrapper.extra-small
{
  width: 18px;
  height: 18px;
}
.buy-single-single .buy-sin-single .middle-side p, .single-box .middle-side p
{
	display: inline-block;
}
.buy-single-single .buy-sin-single .middle-side p.text-left, .single-box .middle-side p.text-left{
	font-weight: bold;
	color: #333;
}
.self-slider .slides
{
	max-height: 400px;
    overflow: hidden;
    position: relative;
}
.self-slider .slides li
{
	position: relative;
	height: 400px;
}
.self-slider .slides li img
{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	     -o-transform: translateY(-50%);
	        transform: translateY(-50%);
}
.self-slider .flex-viewport
{
	border: 3px solid #C7BA31;
}
.self-slider .flex-control-thumbs li
{
	vertical-align: middle;
	float: none;
	border: #C7BA31;
}
#contactModal
{
	top: 4% !important;
}
#contactModal.modal.modal-fixed-footer
{
	height: 90%;
	max-height: 90%;
}
#contactModal.modal > .modal-content
{
	border-radius: 0;
	border: 0px solid transparent;
	background-color: #333;
	color: #fff;
}
#contactModal.modal > .modal-footer
{
	background-color: #C7BA31;
}
#contactModal.modal > .modal-content .input-field input, #contactModal.modal > .modal-content .input-field label
{
	color: #fff;
}
#contactModal.modal > .modal-footer.item-description a.more
{
	margin-top: 0;
}
#contactModal.modal > .modal-footer .miniLoader
{
	margin-right: 5px;
}
.wrapper .buy-single-single
{
	padding-top: 1em;
}
.banner-top
{
	height: 150px;
    background-color: #C7BA31;
}
.banner-top h3
{
	color: #fff;
}
.full-height, .valign-wrapper
{
	height: 100%;
}
.middle-side .col-xs-12
{
	padding: 0;
}
.buy-sin h4
{
	color: #C7BA31;
	
}
.middle-side h4, .single-box-right h4
{
	color:  #333;
}
.project-grid-top > .relative
{
	border-bottom: 3px solid #333;
}
#toast-container .toast
{
	background-color: transparent;
	padding: 0;
	cursor: pointer;
}
#toast-container .toast .alert
{
	margin-bottom: 0;
}
.nav-page nav
{
	background-color: transparent;
	box-shadow: 1px 1px transparent;
}
.filters-menu a
{
	text-decoration: none;
}
.filters-menu a.waves
{
	width: 100%;
	padding: .5em;
}
.filters-menu a.collapsed .fa-plus,.filters-menu a:not(.collapsed) .fa-minus
{
	display: block;
}
.filters-menu a.collapsed .fa-minus, .filters-menu a:not(.collapsed) .fa-plus
{
	display: none;
}
.filter-container .input-field input
{
	border-bottom: 1px solid #C7BA31;
    box-shadow: 0 1px 0 0 #C7BA31;
}
.filter-container .input-field input:focus
{
	border-bottom: 1px solid #333;
    box-shadow: 0 1px 0 0 #333;
}
.filter-container .input-field .label-filter
{
	left: 15px;
}
.filter-container .input-field .prefix.postfix
{
	right: 0;
}
.filter-container .input-field .prefix.active, .filter-container .input-field label, .contact-address h5
{
	color: #C7BA31;
}
.filter-container .input-field .label-filter.select-label
{
	top: -15px;
}
.select-wrapper span.caret
{
	border: 0px solid transparent;
}
.inline-block
{
	display: inline-block;
}
.content-middle
{
	background-image: none;
	position: relative;
	background-color: #f7f7f7;
}
.content-middle .bb-bookblock
{
	width: 100%;
	overflow: hidden;
}
.content-middle .bb-bookblock img
{
	position: absolute;
	top: 0;
	width: 100%;
	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	     -o-transform: translateY(-50%);
	        transform: translateY(-50%);
}
.allies
{
	text-align: center;
}
.allies .allie-item
{
	display: inline-block;
	vertical-align: middle;
	height: 100px;
	width: auto;
	margin: 0 30px;
	float: none !important;
}
.allies .allie-item img
{
	height: 100%;
	width: auto;
}
.about-mid1 p
{
	font-size: 0.8em;
}
img.logo
{
    max-width: 250px;
    padding: .5em 0 0 .5em;
    -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -ms-transition: all .25s linear;
    transition: all .25s linear;
}
.flex-control-thumbs li
{
	width:  7.2% !important;
}
.footer
{
	margin-top: 2em;
}
.valign
{
	vertical-align: middle;
	display: inline-block;
}
.footer-logo.valign
{
	width: 49%;
}
.footer-class.valign
{
	width: 50%;
}
.navigation .container-fluid li a:hover
{
	color: #333 !important;
}
.navigation .container-fluid .menu-logo-container .logo
{
	width: 30%;
	float: none;
}
.menu-logo-container
{
	background-color: rgba(0, 0, 0, .5);
	width: 100%;
}
.about-in
{
	padding: 0 15px;
}
.about-in p
{
	padding: 0;
	width: auto;
}
.about-mid1
{
	background-color: #333;
}
.contact-right input[type="text"], .contact-right textarea
{
	background-color: #333;
	padding: 10px;
	margin: 5px 0;
    box-sizing: border-box;
}

.flex-direction-nav .flex-next {
    background-position: -32px -184px !important;
}
.flex-direction-nav a, .flex-direction-nav a
{
	top: 40% !important;
	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	     -o-transform: translateY(-50%);
	        transform: translateY(-50%);
}
.cssload-container{
  position:relative;
}
  
.cssload-whirlpool,
.cssload-whirlpool::before,
.cssload-whirlpool::after {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid #CCC;
  border-left-color: #000;
  border-radius: 999px;
    -o-border-radius: 999px;
    -ms-border-radius: 999px;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
}

.cssload-whirlpool {
  margin: -75px 0 0 -75px;
  height: 150px;
  width: 150px;
  animation: cssload-rotate 3000ms linear infinite;
    -o-animation: cssload-rotate 3000ms linear infinite;
    -ms-animation: cssload-rotate 3000ms linear infinite;
    -webkit-animation: cssload-rotate 3000ms linear infinite;
    -moz-animation: cssload-rotate 3000ms linear infinite;
}

.cssload-whirlpool::before {
  content: "";
  margin: -50px 0 0 -50px;
  height: 100px;
  width: 100px;
  animation: cssload-rotate 3000ms linear infinite;
    -o-animation: cssload-rotate 3000ms linear infinite;
    -ms-animation: cssload-rotate 3000ms linear infinite;
    -webkit-animation: cssload-rotate 3000ms linear infinite;
    -moz-animation: cssload-rotate 3000ms linear infinite;
}

.cssload-whirlpool::after {
  content: "";
  margin: -25px 0 0 -25px;
  height: 50px;
  width: 50px;
  animation: cssload-rotate 2000ms linear infinite;
    -o-animation: cssload-rotate 2000ms linear infinite;
    -ms-animation: cssload-rotate 2000ms linear infinite;
    -webkit-animation: cssload-rotate 2000ms linear infinite;
    -moz-animation: cssload-rotate 2000ms linear infinite;
}



@keyframes cssload-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@-o-keyframes cssload-rotate {
  100% {
    -o-transform: rotate(360deg);
  }
}

@-ms-keyframes cssload-rotate {
  100% {
    -ms-transform: rotate(360deg);
  }
}

@-webkit-keyframes cssload-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes cssload-rotate {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@media(min-width: 769px){
	a.mask > img:not(.popular-img)
	{
		//left: -25%;
	}
}
@media(max-width: 1024px){
	.misc div
	{
		padding: 0;
	}
	.banner-bottom-top .header-bottom
	{
		height: auto;
	}
	.content-middle
	{
		min-height: 200px;
	}
	.content-middle .bb-bookblock
	{
		height: 200px;
	}
}
@media(max-width: 768px){
	.rooms
	{
		clear: both;
	}
	.navigation
	{
		right: -50%;
	}

	.navigation.active
	{
		width: 50%;
	}
	.banner-bottom-top .header-bottom
	{
		height: auto;
	}
	.content-middle
	{
		min-height: 175px;
	}
	.content-middle .bb-bookblock
	{
		height: 175px;
	}
	div.logo
	{
		padding-top: .5em;
	}
	img.logo
	{
	    max-width: 75px;
	    padding-top: 0;
	}
}
@media(max-width: 425px){
	.close-filter
	{
		color: #333;
	}
	.fancybox-show-caption .fancybox-caption-wrap
	{
		display: none;
	}
	.wrapper
	{
		width: 100%;
	}
	.bottom-header .btn.fa.fa-open-filters
	{
		color: #fff;
	}
	.bottom-header .btn.fa.active
	{
		display: none;
	}
	.bottom-header.active
	{
		z-index: 9999;
	}
	.slider ul.callbacks_tabs.callbacks1_tabs
	{
		display: none;
	}
	.header-bottom
	{
		display: none;
	}
	.banner-bottom-top .header-bottom.active
	{
		display: block;
		height: auto;
		background-color: rgba(0,0,0,1);
	}

	.navigation
	{
		right: -100%;
	}

	.navigation.active
	{
		width: 100%;
	}
	.content-middle
	{
		min-height: 100px;
	}
	.content-middle .bb-bookblock
	{
		height: 100px;
	}
}
@media(max-width: 375px){
	.popover.bottom
	{
		width: 200px;
	}
	.popover.bottom .popover-title
	{
		text-align: center;
	}
	.popover.bottom .popover-title:before
	{
		width: auto;
	}
	.content-middle
	{
		min-height: 75px;
	}
	.content-middle .bb-bookblock
	{
		height: 75px;
	}
}